doctype html
html
	head login
	body

		form(action="./mainPage/login")
			|帳號
			input(type="text" id="username")
			br
			br
			|密碼
			input(type="password" id="pwd")
			input(type="submit" value="Submit")