doctype html



html
	title
	head
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.18/css/uikit.min.css")
		link(rel="stylesheet" type="text/css" href="#{style}")

	body
		script(type="text/javascript",src ="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" )
		script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.18/js/uikit.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.18/js/uikit-icons.min.js")
		
		

		ul(uk-accordion)
			li
				h3(class="uk-accordion-title") hihi
				div(class="uk-accordion-content") ffff


		table(class ="uk-table")
			caption table caption
			thead
				tr
					th table heading
					th ggg
					th eee
			tbody
				tr
					td bodyyyyy
					td dfdf
					td ddd
			

