doctype html
html
	head
		script(type="text/javascript",src ="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" )
		link(rel="stylesheet" type="text/css" href="#{style}")
		script(src="#{mainScript}")



	body

		img(id="SQR" class="SQR_img")


		button(id="btn1") click